<html>
<head>
  <title>PROXY WEBUI</title>
</head>
<body>
List of tasks: 
<table BORDER="1">
<tr>
      <th>UUID</th>
      <th>Date</th>
      <th>Method</th>
      <th>Action</th>
      <th>Parameters</th>
</tr>
<% task_buffer.each do |item| %>
<tr>
    <td><%= item.uuid %> </td> 
    <td><%= item.date %> </td> 
    <td><%= item.method %> </td>
    <td><%= item.action %> </td>
    <td><%= item.parameters %> </td>
</tr> <br>
<% end %>
</table>
<br><a href="/">Click here to get back to the main page.</a>
</body>
</html>

